<div id="profile" class="default-style">
  <header>
    <img class="profile-picture" ng-src="{{profile.pictureUrl}}"/>
    <div class="personal-info">
      <h1>{{profile.firstName}} {{profile.lastName}}</h1>
      <span id="profile-headline" contenteditable="true" ng-model="profile.headline"></span>
      <span class="email" contenteditable ng-model="profile.emailAddress"></span>
      <span class="phone" contenteditable ng-model="profile.phoneNumber"></span>
    </div>
  </header>
  <section class="resume" ng-hide="hideSummary">
    <pre contenteditable="true" ng-model="profile.summary"></pre>
  </section>
  <section class="experience">
    <header>
      <h2>Experiencia laboral</h2>
      <div class="add-item">
        <button ng-click="showMorePositions = !showMorePositions"><i class="icon-plus"></i><span>Añadir</span></button>
        <ul ng-class="{expanded: showMorePositions}" ng-mouseleave = "showMorePositions = false" ng-click="showMorePositions = false">
          <li ng-repeat="position in profile.positions.values" ng-show="position.hide" ng-click="position.hide = false">
            <i class="icon-restore"></i>
            <span>{{position.company.name}}</span>
            <span>{{position.title}}</span> 
          </li>
          <li class="new-item" ng-click="new('position', profile.positions.values)"><i class="icon-add"></i><span>Nuevo</span></li>
        </ul>
      </div>
    </header>
    <ul class="item-list">
      <li class="position-item" ng-repeat="position in profile.positions.values" ng-if="!position.hide">
        <header>
          <h3 class="company" contenteditable="true" ng-model="position.company.name"></h3><span class="title" contenteditable="true" ng-model="position.title"></span>
        </header>
        <pre class="summary" contenteditable="true" ng-model="position.summary"></pre>
        <i class="icon-remove" ng-click="position.hide = true"></i>
      </li>
    </ul>
  </section>
  <section class="education">
    <header>  
      <h2>Formación</h2>  
      <div class="add-item">  
        <button ng-click="showMoreEducations = !showMoreEducations"><i class="icon-plus"></i><span>Añadir</span></button>
        <ul ng-class="{expanded: showMoreEducations}" ng-mouseleave = "showMoreEducations = false" ng-click="showMoreEducations = false">
          <li ng-repeat="education in profile.educations.values" ng-show="education.hide" ng-click="education.hide = false">
            <i class="icon-restore"></i>
            <span>{{education.degree}}</span>
          </li>
          <li class="new-item" ng-click="new('education', profile.educations.values)"><i class="icon-add"></i><span>Añadir</span></li>
        </ul>
      </div>
    </header>
    <ul class="item-list">
      <li class="education-item" ng-repeat="education in profile.educations.values" ng-if="!education.hide">
        <span contenteditable="true" ng-model="education.degree"></span>
        <span contenteditable="true" ng-model="education.schoolName"></span>
        <i class="icon-remove" ng-click="education.hide = true"></i>
      </li>
    </ul>
    
  </section>
  <section class="skills">
    <header>  
      <h2>Aptitudes</h2>
      <div class="add-item">  
        <button ng-click="showMoreSkills = !showMoreSkills"><i class="icon-plus"></i><span>Añadir</span></button>
        <ul ng-class="{expanded: showMoreSkills}" ng-mouseleave = "showMoreSkills = false" ng-click="showMoreSkills = false">
          <li ng-repeat="skill in profile.skills.values" ng-show="skill.hide" ng-click="skill.hide = false">
            <i class="icon-restore"></i>
            <span>{{skill.skill.name}}</span>
          </li>
          <li class="new-item" ng-click="new('skill', profile.skills.values)"><i class="icon-add"></i><span>Añadir</span></li>
        </ul>
      </div>  
    </header>
    <ul class="item-list">
      <li class="skill-item" ng-repeat="skill in profile.skills.values" ng-hide="skill.hide"><span contenteditable="true" ng-model="skill.skill.name"></span><i class="icon-remove" ng-click="skill.hide = true"></i></li>
    </ul>
    
  </section>
</div> 
<script type="in/Login"></script>

