<div id="profile" class="default-style">
  <header>
    <h1>{{profile.firstName}} {{profile.lastName}}</h1>
    <p id="profile-headline" contentEditable="true" ng-model="profile.headline"></p>
    <img ng-src="{{profile.pictureUrl}}"/>
  </header>
  <section class="resume" ng-hide="hideSummary">
    <pre contentEditable="true" ng-model="profile.summary"></pre>
  </section>
  <section class="experience">
    <h2>Experiencia laboral</h2>
    <ul ng-hide="hidePositions">
      <li ng-repeat="position in profile.positions.values" ng-hide="position.hide">
        <header>
          <h3 class="company" contentEditable="true" ng-model="position.company.name"></h3><span class="title" contentEditable="true" ng-model="position.title"></span>
        </header>
        <pre class="summary" contentEditable="true" ng-model="position.summary"></pre>
      </li>
    </ul>
    <ul class="hidden">
      <li ng-repeat="position in hiddenPositions">
        <span>{{position.company.name}}</span>
        <span>{{position.title}}</span>
        <i class="icon-add" ng-click="show(position, $index, $parent.hiddenPositions)"></i>
      </li>
    </ul>
  </section>
  <section class="education">
    <h2>Formación</h2>  
    <ul>
      <li ng-repeat="education in profile.educations.values" ng-hide="education.hide">
        <span contentEditable="true" ng-model="education.degree"></span>
        <span contentEditable="true" ng-model="education.schoolName"></span>
        <i class="icon-remove" ng-click="hide(education, $parent.hiddenEducations)"></i>
      </li>
    </ul>
    <ul class="hidden">
      <li ng-repeat="education in hiddenEducations">
        <span>{{education.degree}}</span>
        <i class="icon-add" ng-click="show(education, $index, $parent.hiddenEducations)"></i>
      </li>
    </ul>
  </section>
  <section class="skills">
    <h2>Aptitudes</h2>  
    <ul>
      <li ng-repeat="skill in profile.skills.values" ng-hide="skill.hide"><span contentEditable="true" ng-model="skill.skill.name"></span><i class="icon-remove" ng-click="hide(skill, $parent.hiddenSkills)"></i></li>
    </ul>
    <ul class="hidden">
      <li ng-repeat="skill in hiddenSkills">
        <span>{{skill.skill.name}}</span>
        <i class="icon-add" ng-click="show(skill, $index, $parent.hiddenSkills)"></i>
      </li>
  </section>
</div> 
<script type="in/Login"></script>

